<DIV class="ui-layout-north ui-widget">

	<DIV class="toolbar ui-widget-content ui-state-active">Toolbar - tab2</DIV>

</DIV><!-- #north -->
			
<DIV class="ui-layout-south ui-widget">

	<DIV class="toolbar ui-widget-content ui-state-default">Statusbar - tab2</DIV>

</DIV><!-- #south -->

<DIV class="ui-layout-center">

	<DIV class="ui-widget-header ui-corner-top">Center-Center</DIV>

	<DIV class="ui-widget-content container">
		<DIV class="accordion">

			<H3><A href="#">Section 1</A></H3>
			<DIV>
				<P>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. 
					Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc.
				</P>
				<P>Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. 
					Vestibulum a velit eu ante scelerisque vulputate.
				</P>
			</DIV>

			<H3><A href="#">Section 2</A></H3>
			<DIV>
				<P style="font-weight: bold;">Sed Non Urna</P>
				<P>Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus.
					Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit,
					faucibus interdum tellus libero ac justo.
				</P>
				<P>Vivamus non quam. In suscipit faucibus urna.</P>
			</DIV>

			<H3><A href="#">Section 3</A></H3>
			<DIV>
				<P>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
					Phasellus pellentesque purus in massa. Aenean in pede.
				</P>
				<P>Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, 
					magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
				</P>
				<UL>
					<LI>List item one</LI>
					<LI>List item two</LI>
					<LI>List item three</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
					<LI>Another Item</LI>
				</UL>
			</DIV>

			<H3><A href="#">Section 4</A></H3>
			<DIV>
				<P>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
					ac turpis egestas.
				</P>
				<P>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					Aenean lacinia mauris vel est.
				</P>
				<P>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				</P>
			</DIV>

		</DIV><!-- #accordion -->
	</DIV><!-- #container -->

	<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">Center-Center Footer</DIV>

</DIV><!-- #center -->

<DIV class="ui-layout-west">

	<DIV class="ui-layout-north">
		<DIV class="ui-widget-header ui-corner-top">West-North</DIV>
		<DIV class="ui-widget-content">
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">West-North Footer</DIV>
	</DIV><!-- #west-north -->

	<DIV class="ui-layout-center">
		<DIV class="ui-widget-header ui-corner-top">West-Center</DIV>
		<DIV class="ui-widget-content">
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">West-Center Footer</DIV>
	</DIV><!-- #west-center -->

	<DIV class="ui-layout-south">
		<DIV class="ui-widget-header ui-corner-top">West-South</DIV>
		<DIV class="ui-widget-content">
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">West-South Footer</DIV>
	</DIV><!-- #west-south -->

</DIV><!-- #west -->
			
<DIV class="ui-layout-east">

	<DIV class="ui-layout-center">
		<DIV class="ui-widget-header ui-corner-top">East-Center</DIV>
		<DIV class="ui-widget-content">
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">East-Center Footer</DIV>
	</DIV><!-- #east-center -->

	<DIV class="ui-layout-south">
		<DIV class="ui-widget-header ui-corner-top">East-South</DIV>
		<DIV class="ui-widget-content">
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">East-South Footer</DIV>
	</DIV><!-- #east-south -->

</DIV><!-- #east -->