<DIV class="ui-layout-north ui-widget">

	<DIV class="toolbar ui-widget-content ui-state-active">Toolbar - tab1</DIV>

</DIV>

<DIV class="ui-layout-south ui-widget">

	<DIV class="toolbar ui-widget-content ui-state-default">Statusbar - tab1</DIV>

</DIV>

<DIV class="ui-layout-center">

	<DIV class="ui-widget-header ui-corner-top">Center-Center</DIV>
	<DIV id="notes" class="ui-widget-content">
					
		<H4>Layout Version</H4>
		<P><STRONG>This page uses Layout 1.3 RC-29.15 (or higher).</STRONG>
			The content-sizing in this version was improved for both accuracy and speed.
			It also does auto-resizing of directly nested-layouts.
			Plus new functionality was added so layouts could be created when not visible.
		</P>
		<H4>Layout Notes</H4>
		<UL>
			<LI>BODY has 20px left/right padding for cosmetic purposes</LI>
			<LI>BODY has min-width/min-height, so page/layout will scroll if gets too small</LI>
			<LI>The Tabs are sortable (grab-n-drag to rearrange)</LI>
		</UL>
		<H4>Themes</H4>
		<UL>
			<LI>Click '<STRONG>Toggle Custom Theme</STRONG>' above to remove the
				custom theme that is active onLoad. 
			</LI>
			<LI>Click '<STRONG>Resize Layout</STRONG>' above after selecting a new
				UI Theme from the picklist because Layout may need to adjust header/footer 
				heights to account for different padding and/or borders in the new themes.
			</LI>
		</UL>
	</DIV>
	<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">Center-Center Footer</DIV>

</DIV><!-- #center -->

<DIV class="ui-layout-west">

	<DIV class="ui-layout-north">
		<DIV class="ui-widget-header ui-corner-top">West-North</DIV>
		<DIV class="ui-widget-content">
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">West-North Footer&nbsp; (will&nbsp;wrap&nbsp;when&nbsp;narrow)</DIV>
	</DIV><!-- #west-north -->

	<DIV class="ui-layout-center">
		<DIV class="ui-widget-header ui-corner-top">West-Center</DIV>
		<DIV class="ui-widget-content">
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">West-Center Footer&nbsp; (will&nbsp;wrap&nbsp;when&nbsp;narrow)</DIV>
	</DIV><!-- #west-center -->

	<DIV class="ui-layout-south">
		<DIV class="ui-widget-header ui-corner-top">West-South</DIV>
		<DIV class="ui-widget-content">
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">West-South Footer</DIV>
	</DIV><!-- #west-south -->
</DIV><!-- #west -->

<DIV class="ui-layout-east">

	<DIV class="ui-layout-center">
		<DIV class="ui-widget-header ui-corner-top">East-Center</DIV>
		<DIV class="ui-widget-content">
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
			<P>List of Items</P>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">East-Center Footer&nbsp; (will&nbsp;wrap&nbsp;when&nbsp;narrow)</DIV>
	</DIV><!-- #east-center -->

	<DIV class="ui-layout-south">
		<DIV class="ui-widget-header ui-corner-top">East-South</DIV>
		<DIV class="ui-widget-content">
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
			<DIV><A href="#">Another Item</A></DIV>
		</DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom">East-South Footer</DIV>
	</DIV><!-- #east-south -->

</DIV><!-- #east -->
