<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daton Reporting Studio (based on Bootstrap template)</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    {% block style %}
    <!-- Maximize display width -->
    <style>
        @media all {
        .container {
            max-width: 97.5%;
        }
    }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common/main.css')}}">
    {% endblock style %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Import JS Libraries -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    {% block script %}
    <script type="text/javascript">
        $( document ).ready( function() {
            // Adjust height of workspace panels to cover full screen
	       $( "#studio" ).each(function() {
	           var golden_ratio = 1.62;
	           $( this ).height( $( this ).width() / golden_ratio );
            });
        });
    </script>
    {% endblock script %}

  </head>

  <body >

    {% block header %}
	{% include "/common/header.html" %}
    {% endblock header %}

    {% block content %}
        <div class="container theme-showcase">
        </div> <!-- /.container -->
    {% endblock content %}

    {% block footer %}
	{% include "/common/footer.html" %}
    {% endblock footer %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js"></script>

  </body>
</html>
