<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daton Reporting Studio (based on Bootstrap template)</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">

    <!-- Bootstrap theme -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/studio/main.css')}}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Import JS Libraries -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript">
      $(document).ready( function() {
        // Adjust height of workspace panels to cover full screen
        $("[id*='sidebar'] > [class*='col-md-']").each(function() {
	  var golden_ratio = 1.62;
	  $(this).height($(this).parent().width()/golden_ratio);
        });
      });
    </script>

  </head>

  <body >

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:#000" href="#">DATON</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><i class="icon-home icon-white"></i> Home</a>
              <ul class="dropdown-menu">
                <li><a href="#">Preferences</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">File</b></a>
              <ul class="dropdown-menu">
                <li><a href="#">New</a></li>
                <li><a href="#">Open</a></li>
                <li class="divider"></li>
                <li><a href="#">Import</a></li>
                <li><a href="#">Export</a></li>
                <li><a href="#">Save</a></li>
                <li><a href="#">Revert</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View</b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Table</a></li>
                <li><a href="#">Graph</a></li>
                <li><a href="#">Dashboard</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit</b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Undo</a></li>
                <li><a href="#">Redo</a></li>     
		<li class="divider"></li>
                <li><a href="#">Cut</a></li>
                <li><a href="#">Copy</a></li>
		<li><a href="#">Paste</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help</b></a>
              <ul class="dropdown-menu">
                <li><a href="#">User Guide</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/ .container -->
      </div><!--/ .nav-inner -->
    </div><!--/ .navbar -->

    <div class="container theme-showcase">
      {% include "/studio/table.html" %}
    </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js"></script>

  </body>
</html>
