<DIV id="table-sidebar-west" class="ui-layout-west">

	<DIV id="table-categories" class="ui-layout-north">
		<DIV class="ui-widget-header ui-corner-top">Categories</DIV>
		<DIV class="ui-widget-content"></DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom"></DIV>
	</DIV><!-- #west-north -->

	<DIV id="table-measurements" class="ui-layout-center">
		<DIV class="ui-widget-header ui-corner-top">Measurements</DIV>
		<DIV class="ui-widget-content"></DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom"></DIV>
	</DIV><!-- #west-center -->

	<DIV id="table-console" class="ui-layout-south">
		<DIV class="ui-widget-header ui-corner-top">Console</DIV>
		<DIV class="ui-widget-content"></DIV>
		<DIV class="ui-widget-footer ui-widget-header ui-corner-bottom"></DIV>
	</DIV><!-- #west-south -->

</DIV><!-- #west -->
