body {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 0px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.bordered {
  border: 1px solid #ddd;
}

[class^="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #eee;
  /*
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
  */
}
